_site/
.cache/
.CLAUDE.md
.DS_Store
.ipynb_checkpoints/
.jupyterlite.doit.db
.gh-pages/
.lite_src/
.tox/
.venv/

dist/
docs/.ipynb_checkpoints
docs/_build/
docs/api/
docs/Untitled*
docs/_static/ISO*
laserbeamsize.egg-info/
laserbeamsize/__pycache__/
problems/
tests/__pycache__/
todo
uv.lock
