include CHANGELOG.rst
include LICENSE.txt
include tem02.png
exclude docs
exclude docs/*
include docs/hene-report.png
include hene-report.png
exclude release.txt
exclude Makefile
exclude .gitignore
exclude todo