# runtime dependencies
numpy
matplotlib
scipy

# notebooks
imageio>=3.0
requests

# testing
yaml
json
pytest

# linting
ruff
pylint
yamllint
rstcheck

# formatting
black

# docs
sphinx
nbformat
nbconvert

